// Bootstrap
$primary: #F8B87B;
$secondary: red;
$btn-close-color: #F8B87B;
$btn-close-opacity: 1;
$btn-close-width: 1.5em;
$btn-close-height: $btn-close-width;

// Custom
$bg-main: #090909;

$font-main-color: #fff;
$font-link-color: #F8B87B;