// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {

}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    footer {
        min-height: 50vh;

        #logo-footer {
            margin-bottom: 60px;
        }

        &::after {
            position: absolute;
            bottom: 40px;
            @include absolute-center-x;
            content: '';
            background-color: #515E44;
            width: 3px;
            height: 22%;
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    footer {
        min-height: 70vh;

        #logo-footer {
            width: auto;
        }

        &::after {
            position: absolute;
            bottom: 70px;
            @include absolute-center-x;
            content: '';
            background-color: #515E44;
            width: 3px;
            height: 24%;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    footer {
        min-height: 100vh;

        &::after {
            position: absolute;
            bottom: 100px;
            @include absolute-center-x;
            content: '';
            background-color: #515E44;
            width: 3px;
            height: 30%;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {

}
